<div>
    <div class="container">
        <h1>Add Marker</h1>
        <br>
        <div>
            <form name="markerForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="Text" class="form-control" id="title" placeholder="Title" ng-model="marker.title" required>
                </div>
                <div class="form-group">
                    <label for="route">Route</label>
                    <input type="Text" class="form-control" id="route" placeholder="Route" ng-model="route" required>
                </div>
                <span>Select a marker on the map</span>
                <div id="map-container" class="col-md-6" style=" height: 300px "></div>
                <br>

                <div class="alert alert-success" ng-show="info_success" role="alert">Success! Marker has been added</div>
                <div class="alert alert-danger" ng-show="error_markerexists" role="alert">Marker already exists</div>
                <div class="alert alert-danger" ng-show="update_failed" role="alert">Update Failed! Check connection and Try Again</div>

                <button type="submit" id="addMarker" class="btn btn-primary" ng-diabled="markerForm.$invalid">Add Marker</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
        </div>
    </div>
</div>